body {
  font-family:"Roboto", sans-serif;
  margin:0;
}

strong {
  font-weight:500;
}

.btn-outlined,
.btn-contained {
  display:inline-block;
  background:#fff;
  text-transform:uppercase;
  padding:10px 16px;
  font-family:"Roboto", sans-serif;
  font-size:13px;
  font-weight:500;
  letter-spacing:0.5px;
  color:#fff;
  background-color:#c300c3;
  border:1px solid #c300c3;
  border-radius:3px;
  cursor:pointer;
  margin-bottom:8px;
  text-decoration:none;
  -webkit-appearance:none;
}

.btn-inline {
  background-color:#ff7600;
  border:1px solid #ff7600;
  padding:4px 8px;
}

.gutter {
  padding:16px;
  max-width:1050px;
  margin:0 auto;
}

.center {
  text-align:center;
}

.btn-contained {
  box-shadow:0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0,0,0,.12);
}

.btn-outlined {
  background-color:#fff;
  color:#c300c3;
}

.card-text {
  font-size:24px;
}

input[type="text"] {
  margin-bottom:8px;
  padding:16px;
}

#card-form input#answer:focus {
  outline:none;
}

h4 {
  font-weight:normal;
  font-size:32px;
}

.button-container {
  text-align:center;
}

.material-icons.purple { color:#c300c3; }
.material-icons.orange { color:#ff7600; }
.material-icons.white { color:#fff; }
.material-icons.green { color:#02aa02;}
.material-icons.md-18 { font-size:18px; }
.material-icons.md-24 { font-size:24px; }

/** Homepage **/
.intro-text {
  font-size:20px;
  margin:48px 0;
  padding: 0 16px;
}

/** Lobby **/

ol.lobby-player-list {
  width:100%;
  padding:16px 0;
  list-style:none;
  display:inline-block;
  text-align:left;
}

.lobby-player-list > li {
  margin-bottom:16px;
  padding:16px;
  border-bottom:1px solid #ccc;
  position:relative;
}

.lobby-player-list > li:last-child {
  margin-bottom:0;
  border:none;
}

.lobby-player-list > li > a {
  font-size:0;
  position:absolute;
  right:0;
  top:0;
  padding:16px;
}

.lobby-player-list .name {
  vertical-align:top;
}

.lobby-player-list .header-row {
  font-weight:500;
  font-size:19px;
  border:none;
  padding:0 16px;
}

.access-code-container {
  border:1px solid #ccc;
  border-radius:4px;
  padding:16px;
}

.access-code-label {
  display:block;
  font-size:11px;
  color:#808080;
  text-transform:uppercase;
}

.access-code {
  font-size:24px;
}

/** Header **/
header {
  text-align:left;
  background-color:#c300c3;
  box-shadow:0 2px 4px rgba(0,0,0,0.5);
}

header h5 {
  margin:0;
  font-weight:500;
  color:#fff;
  font-size:16px;
}

footer {
  font-size:10px;
  text-align:right;
  padding:16px;
}

footer.homepage-footer {
  text-align:center;
}

footer.homepage-footer a,
footer.homepage-footer a:visited {
  color: #c300c3;
}

/** Game View **/
.gameplay-container {
  border-radius:4px;
  text-align:center;
  width:100%;
  display:inline-block;
  box-sizing:border-box;
  margin-bottom:16px;
}

#card-form {
  display:inline-block;
}

.card-submit {
  display:none;
}

.gameplay-container > ul {
  text-align:left;
}

.details-container {
  text-align:left;
  font-size:16px;
}

.details-container > p {
  margin-bottom:8px;
}

.details-container > ul {
  margin-top:0;
}

.answer-checkboxes {
  text-align:left;
  margin-bottom:8px;
}

.instruction-container {
  text-align:center;
}

form#review-answers input[type="submit"] {
  margin-top:16px;
  margin-bottom:0;
}

ul.player-answers {
  text-align:left;
}

.vote-buttons {
  text-align:left;
}

.vote-buttons .material-icons {
  vertical-align:top;
}

.btn-vote {
  color: #c300c3;
}

li.correct-answer {
  color:#02aa02;
}

p.player-status {
  background-color: #ff6104;
  margin: -16px -16px 16px -16px;
  padding: 8px 16px;
  color: #fff;
  font-size: 13px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

@media (min-width:1050px) {
  p.player-status {
    margin-top:0;
  }
}

.submitted-answer {
  vertical-align:top;
}

.btn-change-answer {
  display:inline-block;
  margin-top:1px;
  margin-left:8px;
}

/** Scores **/
.answer-line p {
  margin-bottom: 0;
}

.answer-line ul {
  margin-top: 8px;
}

.answer-line:first-child p {
  margin-top: 0;
}

.scores-heading {
  border-bottom: 1px solid #b6b6b6;
  padding-bottom: 2px;
  margin-bottom:0;
  font-weight:normal;
}

span.point {
  display: inline-block;
  font-size: 0;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  vertical-align: top;
  border-radius: 50%;
  margin-top: 3px;
}

span.point.has-point {
  background-color: #c300c3;
}

table > tr > td:last-child {
  border-bottom: 1px solid #b6b6b6;
  padding-bottom:8px;
  padding-top:12px;
}

table > tr > td:first-child {
  font-size: 13px;
  padding-right: 8px;
}

table > tr:last-child > td {
  border-bottom: 0;
}

.scores-container {
  width:100%;
  max-width:400px;
}
